<!-- 汉字主题分类 -->
<section class="mb-0">
  <div
    class="transform cursor-pointer overflow-hidden rounded-2xl bg-white shadow-lg transition-all duration-300 hover:shadow-xl dark:bg-gray-800"
  >
    <div class="relative h-48 overflow-hidden bg-primary/30 dark:bg-primary/20">
      <div
        class="absolute inset-0 flex items-center justify-center text-4xl text-primary sm:text-4xl md:text-5xl lg:text-6xl"
      >
        <i class="fa-solid fa-graduation-cap"></i>
        <span class="">汉字学习</span>
        <i class="fa-solid fa-graduation-cap"></i>
      </div>
      <div
        class="absolute -right-10 -top-10 h-40 w-40 rounded-full bg-primary/20 blur-2xl dark:bg-primary/30"
      ></div>
    </div>

    <div
      class="grid grid-cols-1 gap-6 p-4 sm:grid-cols-2 sm:p-4 md:grid-cols-2 md:p-6 lg:grid-cols-3 xl:p-10 2xl:p-16"
    >
      @for (g of groups(); track $index; let idx = $index) {
        <div
          [style.--dynamic-color]="g.color"
          [routerLink]="['/', 'learn', 'group', g.id]"
          class="bounce-hover group cursor-pointer rounded-2xl bg-primary/10 p-6 shadow-md transition-all duration-300 hover:-translate-y-1 hover:shadow-xl dark:bg-primary/5"
        >
          <div class="mb-4 flex items-center justify-between">
            <div
              class="bg-dynamic/30 flex h-16 w-16 items-center justify-center rounded-full transition-all duration-300 group-hover:scale-110"
            >
              <i [ngClass]="[g.icon]" class="text-dynamic text-2xl"></i>
            </div>
            <div class="text-dynamic text-5xl font-bold">
              {{ g.character }}
            </div>
          </div>
          <h3 class="mb-2 text-2xl font-bold text-dark dark:text-white">
            {{ g.group }}
          </h3>
          <p class="text-md text-gray-600 dark:text-gray-400">
            {{ g.desc }}
          </p>
        </div>
      }
    </div>
  </div>
</section>
