<!-- 主内容区 -->
<main
  [style.--dynamic-color]="color()"
  class="container mx-auto select-none px-0 pb-0 pt-8 sm:px-2 md:px-4 xl:px-6"
>
  <!-- 主题标题 -->
  @if (group()) {
    <section class="mb-10">
      <div class="bg-dynamic/10 dark:bg-dynamic/20 rounded-3xl p-6 pb-8">
        <div class="mb-6 flex items-center space-x-4">
          <div
            class="bg-dynamic flex h-20 w-20 items-center justify-center rounded-full text-white shadow-lg"
          >
            <i [ngClass]="[group()?.icon]" class="text-3xl"></i>
          </div>
          <div>
            <h2
              class="font-k text-2xl font-bold text-dark dark:text-white md:text-3xl"
            >
              {{ group()!.group }}
            </h2>
            <p class="text-gray-600 dark:text-gray-300 md:text-lg">
              {{ group()!.desc }}
            </p>
          </div>
        </div>
        <div
          class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-6 lg:grid-cols-4 lg:gap-8"
        >
          @for (hanzi of group()!.hanzi; track $index) {
            <div
              (click)="showDetail(hanzi)"
              class="character-card flex transform cursor-pointer flex-col items-center justify-center rounded-2xl bg-white p-6 text-center shadow-md transition-all duration-300 hover:scale-105 hover:shadow-lg dark:bg-gray-800"
            >
              <p class="text-xl text-gray-600 dark:text-gray-300">
                {{ hanzi.pinyin }}
              </p>
              <div class="text-dynamic mb-2 font-k text-7xl font-bold">
                {{ hanzi.character }}
              </div>
            </div>
          }
        </div>
      </div>
    </section>
  } @else {
    <div class="flex flex-col items-center justify-center p-8 text-center">
      <div class="mb-4 rounded-full bg-gray-100 p-6 dark:bg-gray-700">
        <i class="text-dynamic fa-solid fa-book-open text-4xl"></i>
      </div>
      <h3 class="mb-2 text-xl font-bold text-gray-800 dark:text-white">
        请先选择一个汉字分组
      </h3>
    </div>
  }

  <section class="mb-10">
    <div class="bg-dynamic/10 dark:bg-dynamic/20 rounded-3xl p-6 pb-8">
      <div class="mb-6 flex items-center space-x-4">
        <div
          class="bg-dynamic flex h-20 w-20 items-center justify-center rounded-full text-white shadow-lg"
        >
          <i class="fa-solid fa-gamepad text-3xl"></i>
        </div>
        <div>
          <h2
            class="font-k text-2xl font-bold text-dark dark:text-white md:text-3xl"
          >
            游戏模式
          </h2>
          <p class="text-gray-600 dark:text-gray-300 md:text-lg">
            学习完了，快来玩游戏挑战一下吧！
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-2 md:gap-6 lg:grid-cols-3 lg:gap-8"
      >
        <div
          class="character-card flex transform cursor-pointer flex-col items-center justify-center rounded-2xl bg-white p-6 text-center shadow-md transition-all duration-300 hover:scale-105 hover:shadow-lg dark:bg-gray-800"
          [routerLink]="['/', 'game', 'bubble', groupId()]"
        >
          <div class="mb-4">
            <i class="fa-solid fa-circle-dot text-dynamic text-4xl"></i>
          </div>
          <h3
            class="mb-2 font-k text-xl font-bold text-gray-800 dark:text-white"
          >
            汉字泡泡
          </h3>
          <p class="text-sm text-gray-600 dark:text-gray-400">
            点击目标汉字的泡泡，看你能答对几个汉字
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
